<div class="paper-links">
  {% if include.arxiv %}
  <a class="paper-link paper-link--paper" href="{{ include.arxiv }}" target="_blank" aria-label="Paper">
    <i class="fas fa-file-alt"></i>
    <span>Paper</span>
  </a>
  {% endif %}

  {% if include.github %}
  <a class="paper-link paper-link--github" href="https://github.com/{{ include.github }}" target="_blank">
    <i class="fab fa-github"></i>
    <span>Code</span>
  </a>
  {% endif %}

  {% if include.star and include.github %}
  <a class="paper-link paper-link--star" href="https://github.com/{{ include.github }}/stargazers" target="_blank" data-github-stars="{{ include.github }}">
    <i class="fas fa-star"></i>
    <span class="paper-link__star-count">Stars</span>
  </a>
  {% endif %}
</div>
